<template name="user_loggedin">
  {{#if loggingIn}}
  <li><a>Logging in...</a></li>
  {{else}}
  <span>
    <img class="img-rounded" style="height: 32px; margin-top: 4px;" src="{{currentUser.services.instagram.profile_picture}}" />
  </span>
  <span class="dropdown">
    <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{currentUser.services.instagram.username}}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a>Account Settings</a></li>
      <li class="divider"></li>
      <li><a id="logout">Logout</a></li>
    </ul>
  </span>
  {{/if}}
</template>

<template name="user_loggedout">
  <li><a id="login">Login with instagram</a></li>
</template>
